body {
  background: #f1f1f1 url('/image/background.jpg') no-repeat right;
  background-size: cover;
  color: #424242;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

body, button, input {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

header {
  align-items: center;
  background: #223;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1.5em;
  pointer-events: none;
}

header .logo {
    align-items: center;
    display: flex;
}

header .logo svg {
    margin-right: 1em;
}

header ul {
    display: flex;
    font-size: 14px;
    list-style: none;
    margin: -1em;
    text-transform: uppercase;
}

header li {
    margin: 1em;
}

header .logo {
    fill: #fff;
    margin-right: 1em;
}


button, input {
    border: solid 1px #999;
    border-radius: 0.2em;
    padding: 0.7em 1.2em;
}

button {
    background: #000fbd;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0.7em 2.2em;
}
